$colorRed: #eb5b2f;

.wrapper {
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.inputSection {
    flex-grow: 1;
}

.inputItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

%input-shared {
    max-width: 200px;
    margin-right: 5px;
}

.input {
    @extend %input-shared;
}

.error {
    @extend %input-shared;
    border: solid 2px $colorRed;
}

.addingButton {
    margin-bottom: 20px;
}

.footerButtons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon {
    &:hover {
        cursor: pointer;
    }
}
