.wrapper {
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.inputSection {
    flex-grow: 1;
}

.inputItem {
    margin-bottom: 10px;
}

.input {
    max-width: 200px;
}

.footerButtons {
    display: flex;
    justify-content: space-evenly;
}
