$colorRed: #eb5b2f;

.wrapper {
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.inputSection {
    flex-grow: 1;
}

.inputItem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.input {
    max-width: 200px;
    margin-right: 5px;
}

.error {
    border: solid 2px $colorRed;
    max-width: 200px;
    margin-right: 5px;
}

.addingButton {
    margin-bottom: 20px;
}

.footerButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
