%input-shared {
    height: 30px;
    width: 60px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
    margin: 2px;
}

.mainCheckbox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    margin-right: 5px;
}
