@import "../../styles/palette.scss";

.mainRegistrationForm {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.inputSection {
    position: relative;
    flex-grow: 1;
}

.inputSubSection {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
    max-height: 100%;
    overflow: auto;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputItem {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

%input-shared {
    position: relative;
    display: flex;
}

.input {
    @extend %input-shared;
}

.error {
    @extend %input-shared;
    border: solid 2px $colorError;
}

.addingButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.footerButtons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.deleteButton {
    position: absolute;
    left: 103%;
    top: 20%;
    &:hover {
        cursor: pointer;
    }
}

.errorMessage {
    position: absolute;
    bottom: -23px;
    left: 0;
    color: $colorError;
}

@media screen and (min-width: 800px) {
    .footerButtons {
        justify-content: space-around;
    }
}
