@import "../../styles/palette.scss";

.title {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 70vh;
}

.inputSection {
    position: relative;
    flex-grow: 1;
}

.inputSubSection {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}

.inputItem {
    position: relative;
    display: flex;
    margin-bottom: 20px;
}

%input-shared {
    position: relative;
    max-width: 300px;
}

.input {
    @extend %input-shared;
}

.error {
    @extend %input-shared;
    border: solid 2px $colorError;
}

.addingButton {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.footerButtons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon {
    position: absolute;
    left: 105%;
    top: 20%;
    &:hover {
        cursor: pointer;
    }
}

.errorMessage {
    position: absolute;
    bottom: -23px;
    left: 0;
    color: $colorError;
}

@media screen and (max-width: 321px) {
    .content {
        height: 60vh;
    }
}

@media screen and (max-width: 576px) {
    .input {
        width: 70vw;
    }
}
